.adminContainer {
  padding: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

.lista {
  list-style: none;
  padding: 0;
}

.lista li {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}